@charset "utf-8";

/*------|| $CONTENIDO ||------*/

/**

 * Base.......................... Estilos CSS base y generales

 * Elementos..................... Elementos que se repiten (botones, paginación, etc)

 * Componentes................... Partes de una página que se repiten

 * Secciones..................... Estilos particulares para cada página

 * Misceláneas................... Otras reglas CSS

 * Bootstrap Rewrites............ Reescrituras de elementos de Bootstrap

 */



/*------|| $FONTAWESOME ||------*/

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.6.3');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-phone:before {
    content: "\f095";
}

.fa-envelope-o:before {
    content: "\f003";
}
.fa-check:before {
    content: "\f00c";
}
.fa-envelope:before {
    content: "\f0e0";
}

.fa-home:before {
  content: "\f015";
}

.fa-map-marker:before {
  content: "\f041";
}

.fa-linkedin:before {
    content: "\f0e1";
}
/*------|| Sprites(iconos personalizados) ||------*/

.icn{
	background: url(../images/sprite.png) no-repeat;
	display: inline-block;
}
.icn-handshake {
    width: 135px;
    height: 105px;
    background-position: 0 0;
}
.icn-handshake-grey {
    width: 135px;
    height: 105px;
    background-position: 0 -108px;
}
.icn-people {
    width: 164px;
    height: 105px;
    background-position: -139px 0;
}
.icn-people-grey {
    width: 164px;
    height: 105px;
    background-position: -139px -108px;
}
.icn-config-grey {
    width: 127px;
    height: 105px;
    background-position: -310px -108px;
}
.icn-config {
    width: 127px;
    height: 105px;
    background-position: -310px 0;
}
.icn-people-plus {
    width: 121px;
    height: 123px;
    background-position: -445px 0;
}

/*------|| Sprites end ||------*/





/*------|| $BASE ||------*/

body{

	font-family: 'Rubik', sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #010101;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	background: #FFF;
}

	html,
	.container{
	  min-width: 320px;
	}

main{
}

a{color: inherit;}
a:link, a:visited, a:hover, a:active{
	text-decoration: none;
	color:inherit;
}

a,
button,
input[type="submit"]{
	-webkit-transition: all .20s ease-in-out;
	-moz-transition:    all .20s ease-in-out;
	-o-transition:      all .20s ease-in-out;
	-ms-transition:     all .20s ease-in-out;
	transition:         all .20s ease-in-out;
}
hr {
	margin: 0;
	border-color: #D2D2D2;
}
ol, ul, li{
	margin: 0;
	padding: 0;
	list-style: none;
}

h1, .h1{
	font-size: 51px;
	font-weight: 500;
	line-height: 60px;
	color: #FFF;
	margin: 0;
	text-shadow: 0 0 4px rgba(61,61,61,1) ;
}

h2, .h2{
	font-size: 34px;
	font-weight: 500;
	line-height: 40px;
	margin: 0;
}

h3, .h3{
	font-size: 30px;
	font-weight: 400;
	line-height: 40px;
	margin: 0;
}

h4, .h4{
	font-size: 20px;
	line-height: 24px;
	margin: 0;
}

h5, .h5{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 18px;
	color: #676566;
	margin: 0 0 5px;
}/*-- Titulo del footer--*/

h6, .h6{
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 100;
	line-height: 36px;
	color: #FFF;
	margin: 0 0 5px;
}
@media (max-width: 768px) {
	h2, .h2 {
		font-size: 25px;
		line-height: 30px;
	}
}
p{
	margin-bottom: 25px;
}
	p a{
		color: #202022;
	}
		p a:hover,
		p a:focus{
			color: #DF5B1A;
		}


/*----ELEMENTOS QUE SE REPITEN----*/

.paragraph-1{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	margin-bottom: 15px;
}

.paragraph-2{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin-bottom: 15px;
}

.paragraph-3{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 15px;
}
.paragraph-4{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 30px;
}

.bg-1{background-color: #003595!important;}/*azul*/
.bg-2{background-color: #FFF!important;}/*blanco*/
.bg-3{background-color: #807F85!important;}/*gris*/
.bg-4{background-color: #000!important;}/*negro*/
.bg-5{background-color: #01A0E1!important;}/*celeste*/

.color-1{color: #0032A4!important;}/*azul*/
.color-2{color: #FFF!important;}/*blanco*/
.color-3{color: #202022!important;}/*negro*/
.color-4{color: #E75F11!important;}/*naranja*/
	
/*-- displays --*/

.inline-block{display: inline-block;}
.block{display:block;}
.table-cell{display: table-cell;}



img,

.img-responsive{

	display: inline-block;

	margin: 0 auto;

}


.contacto__data {
	display: inline-block;
	float: none;
	font-size: 18px;
	line-height: 18px;
	margin-right: 30px;
	margin-bottom: 10px;
}
.contacto__data i {
	color: #01A0E1;
	font-size: 15px;
	margin-right: 5px;
}
.contacto__data a:hover{
	color: #01A0E1;
}
.contacto__data:last-of-type {
	margin-right: 0; 
	
}
.contacto__data:last-of-type a {
	width: 17px;
  height: 17px;
  background: #007BC0;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 16px;	
}
.contacto__data:last-of-type a i {
  font-size: 10px;
  color: #FFF;
	vertical-align: middle;
	margin: 0;
}



/*------|| $ELEMENTOS ||------*/



/*Bandas*/

.banda{
	padding: 55px 0;
}
/*full width*/
.full-width {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.full-width > div {
	width: 50vw;
	display: table-cell;
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat!important;
}
.full-width .full-width__container {
	padding: 85px 97px 0;
	width: 100%;
	min-height: 350px;
	max-width: 648px;
	position: relative;

}
.full-width .left .full-width__container {
	float: right;
}
.full-width .right .full-width__container {
	float: left;
}
.full-width .full-width__container a.plus-link{
	width: 50px;
	height: 50px;
	font-weight: 500;
	font-size: 50px;
	line-height: 47px;
	background-color: #FFF;
	color: #003595;
	text-align: center;
	display: inline-block;
	position: absolute;
	border:1px solid #FFF;
	top: 80px;
	right: 0;
}
.full-width .full-width__container a.plus-link:hover {
	background: transparent;
	color: #FFF;
}
.full-width .left .full-width__container h2 {
	margin-bottom: 50px;
}
.full-width .left .full-width__container p {
	font-size: 18px;
	line-height: 24px;
}
@media (max-width: 990px) {
	.full-width .full-width__container {
		padding: 85px 50px;
		float: none;
		float: none;
	}
	.full-width .left .full-width__container {
		float: none;
	}
}
@media (max-width: 767px) {
	.full-width > div {
		display: block;
		width: 100%;
		min-height: 300px;
	}
	.full-width .left .left__container {
		float: none;
		padding: 70px 20px;
		max-width: 100%;
	}
	
}
/*lista con caret*/ 
ul.list-caret {
/*	margin-bottom: 80px;
*/}
ul.list-caret li {
	position: relative;
	padding-left: 25px;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 5px;
  text-align: left;
  vertical-align: middle;
}
ul.list-caret li::before {
  vertical-align: middle;
	font-family: 'FontAwesome';
  content: "\f0da";
	position: absolute;
	left: 9px;
	top: 0;
  width:20px;
  height:20px;
  display: inline-block;
  font-size: 15px;
	line-height: 19px;
	color: #0032A4;
}
/*lista con check*/ 
ul.list-check {
	margin-left: 40px;
}
ul.list-check li {
	position: relative;
	padding-left: 57px;
	font-size: 20px;
	line-height: 25px;
	margin-bottom: 15px;
	font-weight: 500;
  text-align: left;
  vertical-align: middle;
}
ul.list-check li::before {
  vertical-align: middle;
	font-family: 'FontAwesome';
  content: "\f00c";
	position: absolute;
	left: 0;
	top: 0;
  width:25px;
  height:20px;
  display: inline-block;
  font-size: 25px;
	line-height: 25px;
	color: #133595;
}

.list-check.white-list {
	margin-left: 0;
}
.list-check.white-list li::before {
	color:#FFF;
	font-size: 18px;

}
.list-check.white-list li {
	color: #FFF;
	font-size: 18px;
	margin-bottom: 10px;
	padding-left: 25px;
	font-weight: 400;
}
/*Before*/

.icono:before,
.icono:after{
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	top: 0;
	left: 0;
}


/*Botones*/

.btn-celeste{
	background:#01A0E1;
	border: 1px solid #01A0E1;
	color: #FFF!important;
	font-size: 18px;
	font-weight: 400;
	border-radius: 0px;
	padding: 15px 20px;
	display: inline-block;
	letter-spacing: 1px;
}

.btn-celeste:hover{
	background: #FFF;
	color:#01A0E1!important;
}


.btn-azul{
	background:#003595;
	border: 1px solid #003595;
	color: #FFF!important;
	font-size: 18px;
	font-weight: 400;
	border-radius: 0px;
	padding: 10px 34px;
	display: inline-block;
}

.btn-azul:hover{
	background: transparent;
	color:#003595!important;
}


/*Formularios*/

.help-block{

    font-size: 13px;

    font-weight: 300;

    line-height: 13px;

}

.msje-estado{

	font-size: 16px;

	color: #000;

	padding: 10px;

	border-radius: 5px;

	border: 1px solid #000000;

	/*-webkit-animation-name: fadeOut;*/

	/*animation-name: fadeOut;*/

	-webkit-animation-delay: 4s;

	animation-delay: 4s;

	-webkit-animation-duration: 1s;

	animation-duration: 1s;

	-webkit-animation-fill-mode: both;

	animation-fill-mode: both;

}

.msje-estado.error{

	color: #000;

	border-color: #F5AFAF;

	background-color: #F2DEDE;

}

.msje-estado.ok{

	color: #000;

	border-color: #B5CC9A;

	background-color: #dff0d8;

}

	.form-group{

		margin-bottom: 16px;

	}

	.form-group label{

		font-weight: 400;

	}

	.form-control{

		display: block;

		width: 100%;

		height: 51px;

		font-size: 16px;

		font-weight: 400;

		line-height: 14px;

		color: #000;

		padding: 5px 10px;

		margin: 0;

		border: 1px solid #A8A8A8;

		border-radius: 0;

		background-color: #FFF;

		-webkit-box-shadow: inset 0 1px 1px rgba(220, 0, 0, .075);

		box-shadow: inset 0 1px 1px rgba(220, 0, 0, .075);

		-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;

		-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

	}

	.form-control:focus{

  		box-shadow: 0 0 5px rgba(1, 160, 225, 0.6);

  		border: 1px solid #40B8E8;

	}

	textarea.form-control{

		min-height: 153px;
		padding-top: 5px;
		line-height: 30px;
		resize: vertical;

	}

		.form-control::-webkit-input-placeholder {

		   color: #A8A8A8;

		}

		.form-control:-moz-placeholder { /* Firefox 18- */

		   color: #A8A8A8;  

		}

		.form-control::-moz-placeholder {  /* Firefox 19+ */

		   color: #A8A8A8;  

		}

		.form-control:-ms-input-placeholder {  

		   color: #A8A8A8;  

		}

		.icono:before, .icono:after {

		    display: inline-block;

		    font: normal normal normal 14px/1 FontAwesome;

		    position: absolute;

		    top: 0;

		    left: 0;

		}

		.select:before {

		    content: '\f078';

		    width: 32px;

		    height: 20px;

		    font-size: 14px;

		    line-height: 28px;

		    text-align: center;

		    color: #1F1513;

		    background: #FFF;

		    top: 6px;

		    left: auto;

		    right: 21px;

		    cursor: pointer;

		    pointer-events: none;

   		}



#newsletter-form .form-control{

	border-color: #D9D9D9;

	color: #C1C1C1;

	font-size: 14px;

	padding: 10px;

	height: 32px;

	

}

#newsletter-form .btn-transparent{

	border-radius: 0;

	font-size: 14px;

	border-color: #e41819;

	line-height: 4px;

	height: 35px;

	width: 100%;

	font-family: 'Roboto Condensed', sans-serif;

}

@media (max-width: 990px){

	#newsletter-form{

		max-width: 360px;

		margin: 0 auto;

	}

}

/*------|| $COMPONENTES ||------*/



/*CABECERA*/



.cabecera{

	padding-top: 0;

	background: #FFF;

}
.s_home .cabecera{
	padding-top: 0;
}

	.cabecera .navbar{

		width: 100%;

		border: none;

		border-radius: 0;

		padding: 0;

		margin: 0;

		position: fixed;

		top: 0;

		left: 0;

		z-index: 600;

		background: rgba(255, 255, 255, 0.9);

	}

	.cabecera__logo{

		display: inline-block;

		text-align: left;

		margin: 15px 0 0;

		max-width: 250px;

		line-height: 66px;

	}

		.cabecera__logo a{

			display: block;

		}

	.cabecera .navbar-collapse{

   	 	padding-right: 0;

    	padding-left: 0;

		position: relative;

		float: none;

	}









/*Navegación principal*/

.nav-head{

	display: block;

	padding: 19px 0 0;

	overflow: visible;

}



	.nav-head .fa-home {

		font-size: 16px;

	}	

	.nav-head ul li {
		padding: 0 10px;
		border-right: 1px solid #858585;
		line-height: 18px;
	}
	.nav-head ul li:nth-child(4),
	.nav-head ul li:nth-child(3) {
		border-right: 1px solid transparent;
	}
	.nav-head ul li:nth-child(4) {
	    padding: 0 12px 0 0;
	}
	.nav-head ul li:nth-child(4) a {
		width: 17px;
		height: 17px;
		background: #007BC0;
		border-radius: 50%;
		color: #FFF;
		display: inline-block;
		font-size: 10px;
	    text-align: center;
	    line-height: 16px;		
	}
	.nav-head ul li:nth-child(4) a:hover {
		background: #FFF;
		color: #007BC0;
		border: 1px solid #007BC0;
	}
	.nav-head ul li:nth-child(4) a i {
		vertical-align: middle;
	}
	.nav-head ul li a{
		vertical-align: middle;
		font-size: 16px;
		color: #858585;

	}

	.nav-head ul li a:hover {

		color: #003595;

	}
	.nav-head .dropdown {
		padding: 0 10px 0 25px;
	}
	.nav-head .dropdown a{
		color: #A1A1A1;
	}

.nav-principal{

	font-size: 0;

	text-align: right;

	padding: 0;

}	

	.nav-principal > ul > li{

		display: inline-block;

	}

		.nav-principal > ul > li > a{

			display: block;
			font-size: 18px;
			font-weight: 500;
			line-height: 45px;
			border-bottom: 5px solid transparent;
			text-align: center;
			color: #000;
			padding: 0 12px;
			background: transparent;
			position: relative;
			cursor: pointer;
			display: inline-block;
			vertical-align: bottom;
		}

			.nav-principal > ul > li:nth-child(1) > a:hover,
			.nav-principal > ul > li:nth-child(1) > a:focus,
			.nav-principal > ul > li:nth-child(2) > a:hover,
			.nav-principal > ul > li:nth-child(2) > a:focus {
			    border-color: #003595;
			    color: #003595;
			}
			.nav-principal > ul > li:nth-child(3) > a:hover,
			.nav-principal > ul > li:nth-child(3) > a:focus {
			    border-color: #009bdf;
			    color: #009bdf;
			}
			.nav-principal > ul > li:nth-child(4) > a:hover,
			.nav-principal > ul > li:nth-child(4) > a:focus {
			    border-color: rgba(141, 141, 141, 1);
			    color: rgba(141, 141, 141, 1);
			}
			.nav-principal > ul > li:nth-child(5) > a:hover,
			.nav-principal > ul > li:nth-child(5) > a:focus {
			    border-color: #76bd22;
			    color: #76bd22;
			}

			.nav-principal > ul > li.visible-xs > a:focus{

			    color: #EE1C25;

			}
			.nav-principal > ul > li.visible-xs a{
				line-height: 10px;
				padding: 0;
			}
			.nav-principal > ul > li > a small{
				font-size: 75%
			}


		.desplegable__login{

			position: relative;

		}

			.login__contenido{

				display: none;

				min-width: 260px;

				text-align: center;

				padding: 10px;

				background: #535353;

				opacity: 0;

				position: absolute;

				top: 100%;

				right: 0;

				-webkit-transition: all .20s ease-in-out;

				-moz-transition:    all .20s ease-in-out;

				-o-transition:      all .20s ease-in-out;

				-ms-transition:     all .20s ease-in-out;

				transition:         all .20s ease-in-out;

			}

				.login__contenido.activo{

					display: inline-block;

					opacity: 1;

				}

				.login__contenido .form-group{

					margin-bottom: 10px;

				}

					.login__contenido .form-control{

						display: block;

						height: 30px;

						font-size: 14px;

						padding: 5px;

					}

					.login__contenido .btn-transparent{

						font-size: 14px;

						font-weight: 700;

						line-height: 14px;

						text-transform: uppercase;

						padding: 10px 15px;

						border-color: #E41819;

						border-radius: 0;

					}





/*Hamburguesa*/

.hamburger,

.hamburger:focus{

	display: inline-block;

	padding: 5px;

	font: inherit;

	color: inherit;

	text-transform: none;

	margin: 0;

	border: 0;

	background-color: transparent;

	overflow: visible;

	cursor: pointer;

	outline: none;

	position: absolute;

	top: 7px;

	right: 10px;

	z-index: 600;

	transition-property: opacity, -webkit-filter;

	transition-property: opacity, filter;

	transition-property: opacity, filter, -webkit-filter;

	transition-duration: 0.15s;

	transition-timing-function: linear;

}

	.hamburger-box{

		display: inline-block;

		width: 40px;

		height: 40px;

		border-radius: 5px;

		background: #133596;

		position: relative;

	}

		.hamburger:hover .hamburger-box{

			background: #133596;

		}

	.hamburger-inner{

		display: block;

		margin-top: -2px;

		top: 50%;

		left: 5px;

	}

		.hamburger-inner,

		.hamburger-inner::before,

		.hamburger-inner::after{

			width: 30px;

			height: 4px;

			border-radius: 4px;

			background-color: #FFF;

			position: absolute;

			transition-property: -webkit-transform;

			transition-property: transform;

			transition-property: transform, -webkit-transform;

			transition-duration: 0.15s;

			transition-timing-function: ease;

		}

		.hamburger-inner::before,

		.hamburger-inner::after{

			content: '';

			display: block;

		}

		.hamburger-inner::before{

			top: -10px;

		}

		.hamburger-inner::after{

			bottom: -10px;

		}



/*Efecto de hambuger*/

.hamburger--efecto .hamburger-box{

	-webkit-perspective: 80px;

    perspective: 80px;

}

	.hamburger--efecto .hamburger-inner{

		transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

		transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);

		transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

	}

		.hamburger--efecto .hamburger-inner::after{

			transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);

			transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);

			transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);

		}

		.hamburger--efecto.is-active .hamburger-inner{

			background-color: transparent;

			-webkit-transform: rotateY(180deg);

			transform: rotateY(180deg);

		}

		.hamburger--efecto.is-active .hamburger-inner::before{

			-webkit-transform: translate3d(0, 10px, 0) rotate(45deg);

            transform: translate3d(0, 10px, 0) rotate(45deg);

		}

		.hamburger--efecto.is-active .hamburger-inner::after{

			-webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);

            transform: translate3d(0, -10px, 0) rotate(-45deg);

		}



/*Cabecera con scroll*/

.cabecera.scroll .navbar{

	box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
	background: #FFF;

}

.cabecera.scroll  .cabecera__logo{

	max-width: 215px;

	margin: 5px 0;

}
.cabecera.scroll .nav-head {
	padding-top: 10px;
}
.cabecera.scroll .nav-principal > ul > li > a {
	line-height: 41px;
}

.cabecera.ocultar .navbar{

	top: -100%;

}



@media (max-width: 1199px) {
		.nav-principal > ul > li > a {
			padding: 0 10px;
			font-size: 16px;
		}
}

@media (max-width: 991px) {

 	.cabecera__logo{
 		width: 175px;
 	}

 	.nav-principal > ul > li > a {
	    font-size: 12px;
	    padding: 0 8px;
	}
	.nav-head ul li {
	    padding: 0 5px;
	}
	.nav-head ul li a {
	    vertical-align: middle;
	    font-size: 13px;
	    color: #858585;
	}	
	.nav-head ul li:nth-child(4) {
		padding-right: 5px;
	}
}

@media (max-width: 767px){

	.cabecera{
		padding-top: 63px;
	}

	.cabecera.scroll .cabecera__logo,
 	.cabecera__logo{
 		line-height: 40px;
 		margin: 10px 0;
 	}


	.nav-principal > ul > li > a{
		font-size: 16px;
		line-height: 16px;
		padding: 5px;
	}

    .navbar-collapse.collapse {
        display: none!important;
    }

    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }

    .navbar-nav>li {
        float: none;
    }

    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }	

	.cabecera__logo,
	.cabecera.scroll  .cabecera__logo{
		max-width: 220px;
	}

	.nav-principal,
	.cabecera.scroll .nav-principal{
		text-align: center;
	}

	.nav-principal > ul > li{
		display: block;
		padding: 0;
		margin: 15px 0;
	}

	.navbar-collapse.in{
        width: 100%;
        height: calc(100% - 60px)!important;
        position: fixed;
        top: 60px;
        left: 0;
        z-index: 200;
        background: #FFF;
        display:block!important;
    }   

    .nav-principal .paragraph-2{
    	margin-bottom: 0;
    }

    .login__contenido{
    	width: 100%;
    	max-width: 300px;
		min-width: 10px;
		position: static;
	}
	.cabecera.scroll .nav-principal > ul > li > a {
		line-height: 16px;
	}
	.cabecera.scroll .nav-principal > ul > li.visible-xs > a {
		line-height: 10px;
	}
}



 hr.footer-divider{

	border-bottom: 1px solid #DEDEDE;

	margin-bottom: 10px;

	margin-top: 70px;

 }



/*HEADERS*/

#headerimg{
	width: 100%;
	height: 650px;
	line-height: 650px;
	margin: 0 auto;
	text-align: center;
	background: #d8d5ce;
	position: relative;
	background-position: center;
	background-size: cover;
}

	#headerimg{
		width: 100%;
		text-align: center;
		padding: 0;
		margin: 0 auto;
	}

	.headerimg__contenido{
		width: 100%;
		padding: 60px 0;
		display: inline-block;
		vertical-align: middle;
	}

		.headerimg__texto h1 {
			font-weight: 500;
			font-size: 50px;
			line-height: 45px;
		}
		.headerimg__texto h1 small {
			font-weight: 400;
			font-size: 40px;
			color: #FFF;
		}
		.headerimg__texto p{
			font-size: 28px;
			font-weight: 300;
			line-height: 30px;
			color: #FFF;
			margin: 0;
		}



@media (max-width: 1680px) {

	#headerimg{
		height: 500px;
		line-height: 500px;
	}
	
}
@media (max-width: 1200px){

	#headerimg{
		height: 370px;
		line-height: 370px;
	}

}

@media (max-width: 990px){

	#headerimg{
		height: 300px;
		line-height: 300px;
	}

	.headerimg__texto h1 {
		font-size: 36px;
		line-height: 36px;
	}

	.headerimg__texto h1 small{
		font-size: 30px;
	}

	.headerimg__texto p{
		font-size: 18px;
		line-height: 24px;
	}

}

@media (max-width: 768px){

	#headerimg{
		height: 324px;
		line-height: 324px;

	}



}

@media (max-width: 490px){

}



/*SLIDERS*/


.slider-principal{

	width: 100%;

	margin: 0 auto;

	text-align: center;

	background: #DDDEE0;


}

	.slider-principal__contenido{

		width: 100%;

		padding: 30px 0;

		position: absolute;

		top: 50%;

		left: 0;

		margin-top: -200px;
	}

		.slider-principal__texto{
			text-align: center;
		}
			.slider-principal__texto .h1,
			.slider-principal__texto h1 {
				text-shadow: 1px 1px 6px rgba(0,0,0,0.8);
			}

			.slider-principal__texto p {
				font-size: 50px; 
				font-weight: 400;
				line-height: 60px;

			}
			.slider-principal__texto a {
				margin-top: 55px;
			}
			.slider-principal__texto hr{
				width: 30px;
				margin: 20px auto 35px;
			}			

	.slider-seccion__contenido{

		width: 100%;

		padding: 30px 0;

		position: absolute;

		top: 50%;

		left: 0;

		margin-top: -130px;

	}

		.slider-seccion__texto{

			text-align: center;

		}

			.slider-seccion__texto h1{

				text-shadow: 1px 1px 5px rgba(0,0,0,0.8);

				text-transform: uppercase;

			}

			.slider-seccion__texto p{


				font-size: 24px;

				font-weight: 700;

				line-height: 32px;

			}

			.slider-seccion__texto hr{
				width: 30px;
				margin: 20px auto 35px;
			}
			.slider-seccion__texto img{
				margin-top: 20px;
			}

@media (max-width: 1600px) {

	.slider-principal__contenido {

		margin-top: -123px;
	}	

	.slider-principal__texto h1{

		margin: 0 0 20px;

	}


	.slider-principal .boton{

		margin-top: 20px;

	}



}

@media (max-width: 1200px){
	.slider-principal__contenido {

		margin-top: -116px;
	}	
	.slider-seccion__contenido {
		margin-top: -94px;
	}
	.slider-seccion__texto h1,
	.slider-principal__texto h1{
		font-size: 36px;
		line-height: 38px;
	}

	.slider-seccion__texto p,

	.slider-principal__texto p{
		font-size: 35px;
		line-height: 38px;
	}
	.slider-principal__texto a {
		margin-top: 20px;
	}

}

@media (max-width: 990px){

	.slider-categoria li{
		max-width: 262px;
	}
	.slider-principal__contenido {
		margin-top: -123px;
	}	


	.slider-seccion__contenido {
		margin-top: -110px;
	}



}

@media (max-width: 768px){
	.cabecera .navbar {
		background: #FFF;
	}
	.slider-principal {
		padding-top: 70px;
	}

	.slider-principal__contenido {
		margin-top: -100px;
	}	


	.slider-seccion__contenido {
		margin-top:0;
		top: 50px;
	}
	.slider-seccion__texto h1,

	.slider-principal__texto h1{
		font-size: 30px;
		line-height: 32px;
	}

	.slider-seccion__texto p,
	.slider-principal__texto p{
		font-size: 29px;
		line-height: 31px;
	}
	.slider-principal__texto hr {
		margin: 0 auto 7px;
	}
	.slider-categoria__controls{

		width: 30px;

		height: 40px;

        font-size: 18px;

        line-height: 40px;

        margin-top: -15px;

    }
	.slider-principal .owl-carousel li {
		min-height: 324px;
	}
	.slider-principal .owl-carousel li img{
		height: 100%;
		min-height: 324px;
		min-width: 100%;
		max-width: inherit;
		width: inherit;
	}
	.slider-principal__texto a {
		margin-top: 0;
	}

}

@media (max-width: 500px){
	.slider-principal__contenido {
		margin-top: -20px;
		top: 25%;
	}	

	.slider-seccion__contenido {
		margin-top: 0;
		top: 20px;
	}	

	.slider-seccion_texto h1,
	.slider-principal__texto h1{
		font-size: 23px;
		line-height: 32px;
	}

	.slider-seccion__texto p,
	.slider-principal__texto p{
		font-size: 22px;
		line-height: 31px;
	}
}

@media (max-width: 438px){
	.slider-seccion__contenido,
	.slider-principal__contenido {
	    /*top: 6%;*/
	}	
}

/* =====slider-1===== */
#slider-1 {
	width: 100%;
}
.slider-1 {
	position: relative;
}
.slider-1 .slider-interno__controls {
    width: auto; 
    height: auto; 
    line-height: 40px;
    font-size: 65px;
    position: absolute;
    padding: 0;
    bottom: 50%;
    margin-bottom: -32px;
    background: transparent;
    color: #FFF;
}
.slider-1 {
	width: 100%;
	height: 400px!important;
	display: inline-block;
	float: left;
}

.slider-1 .owl-stage-outer {
	height: 400px;
	overflow: hidden;
}
.slider-1 .owl-item {
	display: inline-block;
}

.slider-1 li {
	position: relative;
}
.slider-1 li .overlay {
	background: rgba(0, 0, 0, 0.8);
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0; 
	top: 0;
	-webkit-transition: all .20s ease-in-out;
	-moz-transition:    all .20s ease-in-out;
	-o-transition:      all .20s ease-in-out;
	-ms-transition:     all .20s ease-in-out;
	transition:         all .20s ease-in-out;

}
.slider-1 .owl-item.active.center .overlay{
	background: rgba(0, 0, 0, 0);
}

.slider-interno__controls.next {
    right: 35px;
}
.slider-interno__controls.prev {
    left: 35px;
}
.pie{

	padding: 5px 0;
    border-top: 8px solid transparent;
    -webkit-border-image: url('../images/borde-pie.jpg') 50 round; /* Safari 3.1-5 */
    -o-border-image: url('../images/borde-pie.jpg') 50 round; /* Opera 11-12.1 */
    border-image: url('../images/borde-pie.jpg') 50 round;
	background: #000;	
}

/*copyright*/

.copyright{
	font-size: 13px;
	color: rgba(194, 194, 194, 0.5);

}
.copyright a:hover {
	color: rgba(194, 194, 194, 1);
}

@media (max-width: 1201px) {
	.pie ul{
		text-align: center;
	}
	.pie .first-nav li:first-of-type {
		padding-left: 22px;
	}
	.second-nav {
		float: none;
		padding-right: 0;
	}

}
@media (max-width: 990px) {
	.pie{padding-top: 40px;}
}
@media (max-width: 768px) {

	.pie .second-nav li {
		margin-bottom: 25px;
	}
	.icn-container{
		margin: 50px 0 15px;
	}

	.pie .newsletter{
		margin-top: 60px;
		margin-bottom: 30px;
	}

	.pie .footer-contacto p.h5{
		margin-bottom: 15px;
	}

	.pie .footer-contacto ul > li{
		margin-bottom: 15px;
	}

	.copyright .col-xs-12:nth-child(2){
		margin: 20px 0;
	}



}

/*------|| $SECCIONES ||------*/
/* home */

#index-2 .full-width__container a.plus-link:hover,
#index-3 .full-width__container a.plus-link:hover,
#index-4 .full-width__container a.plus-link:hover,
#index-5 .full-width__container a.plus-link:hover{
	color: #FFF;
}
#index-2 .full-width__container a.plus-link {
	color: rgb(0, 53, 149);
}
#index-3 .full-width__container a.plus-link {
	color: rgb(0, 155, 223);
}
#index-4 .full-width__container a.plus-link{
	color: rgb(141, 141, 141);
}
#index-5 .full-width__container a.plus-link {
	color: rgb(118, 189, 34);
}
#index-2 .left {
	background:rgba(0, 53, 149, 0.9);
}

#index-3 .left {
	background:rgba(0, 155, 223, 0.9);
}

#index-4 .left {
	background:rgba(141, 141, 141, 0.9);
}

#index-5 .left {
	background:rgba(118, 189, 34, 0.9);
}

#porque-elegirnos h3{
	margin-bottom: 40px;
}
#porque-elegirnos h4 {
	font-weight: 600;
}
#porque-elegirnos .col-sm-4 p {
	margin-bottom: 0;
}
#index-7 h2 {
	margin-bottom: 50px;
}
#index-7 form {
	margin-bottom: 30px;
}
@media (max-width: 767px) {
	#index-6 .col-sm-4 {
		max-width: 320px;
		display: inline-block;
		float: none;
		margin-bottom: 35px;
	}
}
/*--  famtec --*/
#famtec-1 {
	padding-bottom: 0;
}
#famtec-1 h3{
	margin-bottom: 60px;
}
#famtec-1 p {
	margin-bottom: 70px;
}
#famtec-2 h3 {
	font-weight: 500;
	margin-bottom: 30px; 
}
#famtec-2 p {
	margin-bottom: 55px;
}
#famtec-2 .list-container p {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	margin-bottom: 0;
}
#famtec-2 .list-container hr {
	border-color: #0032A4;
	margin: 10px 0;
}
#famtec-2 .list-container .list-title-container {
	height: auto;
	display: inline-block;
	width: 100%;
}
@media (max-width: 1199px)  {
	#famtec-2 .list-container .list-title-container {
		height: 37px;
	}
}
@media (max-width: 989px)  {
	#famtec-2 .list-container .list-title-container {
		height: auto;
	}
}
@media (max-width: 767px)  {
	#famtec-2 .row {
		text-align: center;
	}
	#famtec-2 .list-container {
		width: 100%;
		display: inline-block;
		max-width: 350px;
		float: none;	
	}
}

/*--  mantenimiento --*/
#mantenimiento-1 h3{
	margin-bottom: 60px;
}
#mantenimiento-1 p {
	font-size: 18px;
	line-height: 26px;
	margin: 0;
}
#mantenimiento-2 {
	padding-bottom: 110px;
}
@media (max-width: 767px) {
	#mantenimiento-2 .col-sm-6 {
		text-align: center
	}
	#mantenimiento-2 ul.list-check {
		display: inline-block;
		float: none;

	}
}
/*== eficiencia energetica ==*/
#eficiencia-1 h3{
	margin-bottom: 60px;
}
#eficiencia-1 p {
	font-size: 18px;
	line-height: 26px;
	margin: 0;
}
#eficiencia-2 .right {
	 background: rgba(141, 141, 141, 0.9);
}
#eficiencia-2 p {
	font-size: 24px;
	line-height: 40px;
}
#eficiencia-2.full-width .full-width__container {
    padding: 100px 20px 0 50px;	
    max-width: 600px;    
}
#eficiencia-3  {
	padding: 45px 0;
	border-top: 2px solid #FFF;
}
#eficiencia-3  h4 {
	font-weight: 400;
	margin-bottom: 50px;
}
#eficiencia-3 .eficiencia__grafico {
	background-image: url('../images/grafico.png');
	background-position: center;
	background-repeat: no-repeat;
}
#eficiencia-3 .eficiencia__container {
		min-height: 190px;
}
#eficiencia-3 .eficiencia__container p {
	margin-bottom: 0;
}
@media (max-width: 989px) {
	#eficiencia-3 .eficiencia__grafico {
		background-size: 250px;
	}

}
@media (max-width: 767px) {
	#eficiencia-3 .eficiencia__grafico {
		background-image: none;
	}
	#eficiencia-3 .eficiencia__grafico .visible-xs {
		margin-bottom: 30px;
	}

	#eficiencia-3 .eficiencia__grafico .row .row {
		text-align: center;
	}
	#eficiencia-3 .eficiencia__container {
		width: 100%;
		max-width: 335px;
		display: inline-block;
	}
	#eficiencia-3 .eficiencia__container p,
	#eficiencia-3 .eficiencia__container ul {
		text-align: left;
	}
	#eficiencia-3 h4 {
		padding: 0 15px;
	}
}
/*=== energías alternativas  ===*/
#energias-1 {
	padding-bottom: 40px;
}
#energias-1 h3{
	margin-bottom: 60px;
}
#energias-1 p {
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 55px;
}
.energias-beneficios__container {
	position: relative;
	padding-left: 33px;
	margin-bottom: 33px;
}
.energias-beneficios__tick {
	width: 76px;
	height: 76px;
	border: 5px solid #FFF;
	background: #003595;
	color: #FFF;
	text-align: center;
	line-height: 80px;
	position: absolute;
	left: 0;
	top: 15px;
	border-radius: 50%;
}
.energias-beneficios__tick i{
	font-size: 38px;
}
.energias-beneficios__cuadro {
	background: #A9A9A9;	
	padding: 41px 65px;
	height: 218px;
	width: 100%;
	display: inline-block;
	text-align: left;

}
.energias-beneficios__cuadro.cuadro2 {
	background: #C6C6C6;
}
.energias-beneficios__cuadro h4{
	margin-bottom: 20px;
}
.energias-beneficios__cuadro ol {
	padding-left: 20px;
}
.energias-beneficios__cuadro ol li,
.energias-beneficios__cuadro ol {
	    list-style-type: decimal;
}
.energias-beneficios__cuadro ol li {
	margin-bottom: 5px;
	font-size: 18px;
}
@media (max-width: 989px) {
	.energias-beneficios__cuadro {
		height: 290px;
	}
	
}
@media (max-width: 767px) {
	.energias-beneficios__container {
		width: 100%;
		max-width: 450px;
		height: 100%;
		float: none;
		display: inline-block;
	}
	.energias-beneficios__cuadro {
		height: auto;
	}

}
#energias-2 {
	background: url('../images/bg-6.jpg');
	background-size: cover;
}
#energias-2 .h4 {
	font-size: 24px;
	line-height: 40px;
	font-weight: 500;
	
}
#energias-2 .col-lg-offset-1 p {
	font-size: 24px;
	line-height: 25px;
	margin-bottom: 5px;
	font-weight: 500;
}
#energias-2 .list-check {
	margin-left: 0;
}
#energias-2 .list-check li::before {
	color:#FFF;
	font-size: 18px;

}
#energias-2 .list-check li {
	color: #FFF;
	font-size: 18px;
	margin-bottom: 10px;
	padding-left: 25px;
	font-weight: 400;
}
@media (max-width: 989px) {
	#energias-2 .h4 {
		margin-bottom: 35px;
	}
}
/*=== ESPACIOS VERDES  ===*/
#verdes-1 h3{
	margin-bottom: 60px;
}
#verdes-1 p {
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 55px;
}
#verdes-2 .left {
	background-size: cover;
}
#verdes-2 .right {
	background: #76bd22;
}
#verdes-2 .full-width__container {
	padding: 65px 70px;
	max-width: 620px;
}
#verdes-2 .full-width__container p{
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 50px;
}
#verdes-2 .list-check li {
	font-size:20px; 
	line-height: 22px;
	margin-bottom: 20px;
}

/*--  rrhh --*/
#rrhh {
	border-top: 3px solid #FFF;
}
#rrhh .text-center i,
#rrhh .text-center a,
#rrhh .text-center span {
	display: inline-block;
	float: none;
	vertical-align: middle;
	margin-right: 50px;
}
#rrhh .text-center a {
	margin-right: 0;
}
#rrhh .text-center span h3{
	text-align: left;
	font-size: 24px;
	line-height: 32px;
}

@media (max-width: 1200px) {
	#rrhh .text-center i,
	#rrhh .text-center a,
	#rrhh .text-center span {
		margin-right: 30px;
	}
	#rrhh .text-center span h3 {
		font-size: 20px;
		line-height: 26px;
	}

}
@media (max-width: 990px) {
	#rrhh .text-center i,
	#rrhh .text-center a,
	#rrhh .text-center span {
		margin-right: 0;
		margin-bottom: 20px;
	}
	#rrhh .text-center span h3 {
		text-align: center;
	}
}
/*Contacto*/
#contacto {
	padding-bottom: 110px;
}
#contacto h3 {
	font-weight: 500;
}
#contacto h3+p {
	margin-bottom: 90px;
}
#contacto-mapa {
	position: relative;	
}
#contacto-mapa iframe {
	pointer-events: none;
}

.contact__sidebar img {
	float: left;
	margin-bottom: 44px;
}
.contact__sidebar .contact__sidebar__element {
	margin-bottom: 10px;
	padding-left: 45px;
	display: inline-block;
}
.contact__sidebar .contact__sidebar__element div {
	display: table-cell;
	position: relative;
	float: left;
	vertical-align: top;
}
.contact__sidebar .contact__sidebar__element div:first-of-type {
	width: 25px;
	text-align: center;
}
.contact__sidebar .contact__sidebar__element div:nth-child(2) {
	display: table-cell;
	padding-left: 30px;
}
.contact__sidebar .contact__sidebar__element a {
	margin-bottom: 17px;
	font-size: 18px;
	line-height: 20px;
}
.contact__sidebar .contact__sidebar__element a:hover,
.contact__sidebar .contact__sidebar__element a:focus,
.contact__sidebar .contact__sidebar__element a:active {
	color: #04A0D9;
}
.contact__sidebar .contact__sidebar__element i {
	color: #04A0D9;
	font-size: 20px;
}
.contact__sidebar .contact__sidebar__element.last i {
	font-size: 23px;
}
@media (max-width:  1190px) {
	.contact__sidebar .contact__sidebar__element {
		padding-left: 15px;
	}
}
@media (max-width: 990px) {
	.contact__sidebar .contact__sidebar__element {
		padding-left: 0px;
	}
	.contact__sidebar img {
		float: none;
	}
	.contact__sidebar {
		text-align: center;
	}
	#contacto .form-captcha,
	#contacto .col-xs-12.text-left,
	#contacto .sidebar-container {
		text-align: center;
	}
	#contacto .sidebar-container .contact__sidebar {
		max-width: 295px;
		display: inline-block;
		float: none;
		margin-top: 40px;
	}
	
}
/*------|| $MISCELÁNEA ||------*/





/* Animación suave */

.anim-suave{

    -webkit-transition: all .45s ease-in-out;

    -moz-transition:    all .45s ease-in-out;

    -o-transition:      all .45s ease-in-out;

    -ms-transition:     all .45s ease-in-out;

    transition:         all .45s ease-in-out;

}

/* efecto wobble horizontal*/

@-webkit-keyframes hvr-wobble-horizontal {

  16.65% {

    -webkit-transform: translateX(8px);

    transform: translateX(8px);

  }



  33.3% {

    -webkit-transform: translateX(-6px);

    transform: translateX(-6px);

  }



  49.95% {

    -webkit-transform: translateX(4px);

    transform: translateX(4px);

  }



  66.6% {

    -webkit-transform: translateX(-2px);

    transform: translateX(-2px);

  }



  83.25% {

    -webkit-transform: translateX(1px);

    transform: translateX(1px);

  }



  100% {

    -webkit-transform: translateX(0);

    transform: translateX(0);

  }

}



@keyframes hvr-wobble-horizontal {

  16.65% {

    -webkit-transform: translateX(8px);

    transform: translateX(8px);

  }



  33.3% {

    -webkit-transform: translateX(-6px);

    transform: translateX(-6px);

  }



  49.95% {

    -webkit-transform: translateX(4px);

    transform: translateX(4px);

  }



  66.6% {

    -webkit-transform: translateX(-2px);

    transform: translateX(-2px);

  }



  83.25% {

    -webkit-transform: translateX(1px);

    transform: translateX(1px);

  }



  100% {

    -webkit-transform: translateX(0);

    transform: translateX(0);

  }

}

.hvr-wobble-horizontal {

    display: inline-block;

    vertical-align: middle;

    -webkit-transform: translateZ(0);

    transform: translateZ(0);

    box-shadow: 0 0 1px rgba(0, 0, 0, 0);

    -webkit-backface-visibility: hidden;

    backface-visibility: hidden;

    -moz-osx-font-smoothing: grayscale;

}

.hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active {

    -webkit-animation-name: hvr-wobble-horizontal;

    animation-name: hvr-wobble-horizontal;

    -webkit-animation-duration: 1s;

    animation-duration: 1s;

    -webkit-animation-timing-function: ease-in-out;

    animation-timing-function: ease-in-out;

    -webkit-animation-iteration-count: 1;

    animation-iteration-count: 1;

}

/*---Grow effect---*/

.box-service-img.grow {

	overflow: hidden;

}

.box-service-img.grow img{

		

}

.box-service-img:hover.grow img, .box-service-img:focus.grow img, .box-service-img:active.grow img {

		width: 600px;

		height: 300px;

}

@media (max-width: 1200px) {

.box-service-img:hover.grow img, .box-service-img:focus.grow img, .box-service-img:active.grow img {

		width: 620px;

		height: 310px;

}



}

@media (max-width: 990px) {

	.box-service-img .grow {

		max-height: 188px;

	}

	.box-service-img .grow img{

		height: 188px;

	}





}

@media (max-width: 767px) {

	.box-service-img:hover.grow img, .box-service-img:focus.grow img, .box-service-img:active.grow img {

			width: 788px;

			height: auto;

	}





}

  /*---- text-align center on mobile----*/

 @media (max-width: 990px) {

    .text-center-sm {

        text-align: center;

    }

}
 @media (max-width: 767px) {

    .text-center-xs {

        text-align: center;

    }

}

/*------|| $BOOTSTRAP REWRITES ||------*/



.dropdown-menu>li>a {

    padding: 5px 10px;

    margin-bottom: 0;

 }

 @media (max-width: 768px) {

	 .dropdown-menu{

	 	position: relative;

		width: 100%; 	

		clear: both;

		text-align: center;

		border: none;

		box-shadow: none;

		border-radius: 0;

	 }



 }









 .contenedor-modulos{

 	font-size: 0;

 	text-align: center;

 }